<div class="show-container">
  <div class="row">
    <div class="name">
      <p>
        <%= @cocktail.name %>
      </p>
    </div>

    <div class="details">
        <strong>Doses:</strong>
        <% @cocktail.doses.each do |dose| %>
          <p>
            <%= dose.description %>
          </p>
        <% end %>
      </p>
    </div>

    <div class="dose"><%= simple_form_for [@cocktail, @dose] do |f| %>
        <% if @dose.errors.any? %>
          <div class="errors-container">
            <ul>
              <% @dose.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-inputs">
          <%= f.input :description %>
          <%= f.association :ingredient %>
        </div>

        <div class="buttons">
          <%= f.button :submit %>

          <%= link_to 'Back', cocktails_path, class: "btn btn-danger btn-xs" %>
        </div>
      <% end %>
    </div>


  </div>

</div>
